<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Evaluate My Article</title>
  </head>
  <body>
  <header>This is the header</header>
    <main>
      <div class="container">
        <p>Enter a URL of an article | a blog to discover its sentiment.</p>
        <section>
          <form id="form">
            <label for="article-url">URL</label>
            <input id="article-url" type="text" name="input" value="" placeholder="Enter Article URL here" />
            <button
              id="submitBtn"
              type="submit"
              class="btn-submit"
            >
              Submit
            </button>
          </form>
        </section>

        <section>
          <strong>Form Results:</strong>
          <div id="text"></div>
          <div id="agreement"></div>
          <div id="subjectivity"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
          <div id="score_tag"></div>
        </section>
      </div>
    </main>
  <script>
    // https://webpack.js.org/guides/progressive-web-application/#registering-our-service-worker
    if ('serviceWorker' in navigator) {
     window.addEventListener('load', () => {
       navigator.serviceWorker.register('/service-worker.js').then(registration => {
         console.log('SW registered: ', registration);
       }).catch(registrationError => {
         console.log('SW registration failed: ', registrationError);
       });
     });}
  </script>
  </body>
<footer>This is the footer</footer>
</html>
