<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Evaluate My Article</title>
  </head>
  <body>
  <header>Evaluate News Article App</header>
    <main>
      <div class="container"><br>
        <section>
          <form id="form">
            <div>
              <label for="article-url"></label>
            <input id="article-url" type="text" name="input" value="" placeholder="Enter a URL to discover its sentiment" />
            </div>
            <button
              id="submitBtn"
              type="submit"
              class="btn-submit"
            >
              Submit
            </button>
          </form>
        </section>
        <h3><strong>Meaning Cloud API Results:</strong></h3>
        <div id="results">
          <div id="text"></div>
          <div id="agreement"></div>
          <div id="subjectivity"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
          <div id="score_tag"></div>
          <div id="status-msg"></div>
        </div>
      </div>
    </main>
  <footer>
  <div>
     &copy; Author: <a href="https://github.com/Ahmed-Abdelgawad-Dev" target="_blank"><span>Ahmed Abdelgawad</span></a> - 2021 <br>
    Powered by
    <a href="https://www.udacity.com/" target="_blank">Udacity</a>
  </div>
</footer>
  <script>
    // https://webpack.js.org/guides/progressive-web-application/#registering-our-service-worker
    if ('serviceWorker' in navigator) {
     window.addEventListener('load', () => {
       navigator.serviceWorker.register('/service-worker.js').then(registration => {
         console.log('SW registered: ', registration);
       }).catch(registrationError => {
         console.log('SW registration failed: ', registrationError);
       });
     });}
  </script>
  </body>

</html>
